<nav class="jumboron-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i>News-App</i>"
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto list">
            <li class="nav-item active">
                <a class="nav-link" href="/" style="height: 30px;width: auto; color:beige">KTN News<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('nbc') }}" style="height: 30px;width: auto; color:beige">NBC News</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('fox') }}" style="height: 30px;width: auto; color:beige">Fox News</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('bbc') }}" style="height: 30px;width: auto; color:beige">BBC News</a>
            </li>


        </ul>
    </div>
    
</nav>